body {
    margin-right:auto;
    margin-left:auto;
}
/*JUMBOTRON*/
.jumbotron {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:rgba(43,40,40,0.25);
}
.jumbotron .header {
    padding:0;
    font-family:Helvetica;
    color:rgb(43,40,40);
}
.jumbotron .subheader {
    padding:0;
    font-family:'Segoe Script';
    color:rgb(43,40,40);
}
/*NAVBAR*/
.navbar-header {
    background-color: rgb(104,210,189);
    position:absolute;
    top:0;
    left:0;
    min-width:100px;
    font-size:smaller;
}
.navbar-header .navbar-brand {
    color:white;
}
#navbar {
    position:absolute;
    left:50%;
    margin-left:-107px; /*width = 214, adjusted so center of box is in center of navbar*/
}
.navbar-footer {
    position:absolute;
    top:0;
    right:0;
}
.nav.navbar-nav.navbar-right {
    background-color: rgba(43,40,40,0.75);
}
.navbar-default .navbar-nav.navbar-right li a {
    color:white;
}
/*GRID SECTIONS*/
.mainSec .container-fluid {
    padding:0;
    height:inherit;
}
/*LARGE SECTION*/
.largeSec {
    padding:0;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    min-height:500px;
}
.popText {
    vertical-align: middle;
    float: none;
    padding:1px;
    color: white;
    text-align:center;
    background-color: rgba(43,40,40,0.75);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius:4px;
}
.largeSec .arrow {
    text-align:right;
    min-width:75px;
    margin-left: auto;
    margin-right: auto;
    max-width:40px;
}
.largeSec .arrow .fa {
    color:white;
    padding-right:20px;
    padding-left:20px;
    text-align:right;
    font-style:normal;
    font-weight:bold;
    font-stretch:extra-expanded;
    background-color:rgb(104,210,189);
}
/*SMALL SECTION*/
.smallSec {
    padding: 0;
    background-image: url('images/Versilia.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    min-height:500px;
}
.smallSec .popText {
    padding:1px;
    vertical-align:middle;
    float:none;
    text-align:center;
    background-color: rgba(255, 255, 255,0.75);
    color:rgb(43,40,40);
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius:4px;
}
.smallSec .search {
    text-align:right;
    min-width:75px;
    margin-left: auto;
    margin-right: auto;
    max-width:40px;
}
.smallSec .search .fa {
    color:white;
    padding-right:20px;
    padding-left:20px;
    text-align:right;
    font-style:normal;
    font-stretch:extra-expanded;
    background-color:rgb(104,210,189);
}
/*THUMBNAILS*/
.Box {
    padding:0;
    height:348px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
.Box .popText {
    vertical-align: middle;
    float: none;
    padding:1px;
    color: white;
    text-align:center;
    background-color: rgba(43,40,40,0.75);
    max-width: 200px;
    max-height:100px;
    margin-left: auto;
    margin-right: auto;
    border-radius:4px;
}
.Box .bodyText {
    background-image: url('images/img-thing.jpg');
    padding: 1px;
    vertical-align: middle;
    color: rgb(43,40,40);
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width:250px;
}
.Box .bodyText .blue {
    text-align:left;
    padding-left: 30px;
}
.Box .bodyText.blueBack {
    background-image:none;
    background-color:rgb(104,210,189);
}
.blueBack p {
    padding:0;
}
.btn-default {
    background-image:none;
    color:rgba(43,40,40,0.75);
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    display:block;
}
.btn-default.blueBack {
    background-color:rgb(104,210,189);
    text-shadow:none;
}
.smallFont {
    font-size:18px;
    font-weight:bold;
}
p.smallFont {
    max-height:19px;
}
.largeFont {
    font-size:40px;
    font-weight:bold;
}
p.largeFont {
    max-height:41px;
}
.row1col2 {
    background-image: url('images/314-348x348.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row1col3 {
    background-image: url('images/42-348x348.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row1col4 {
    background-image: url('images/3b-348x348.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row2col1 {
    background-image: url('images/Villa-Rucellai-Toscani-2750-2-348x348.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row2col2 {
    background-image: url('images/img-thing.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row2col3 {
    background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row2col4 {
    background-image: url('images/img-thing.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row3col1 {
    background-image: url('images/img-thing.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row3col2 {
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.row3col3 {
    background-color:rgb(104,210,189);
    background-repeat:no-repeat;
    background-size:cover;
}
.row3col4 {
    background-image: url('images/box_partners.png');
    background-repeat:no-repeat;
    background-size:contain;
    margin-left:auto;
    margin-right:auto;
}
/*FOOTER*/
.panel-footer {
    height:100px;
    width:100%;
    background-color:rgba(43,40,40,0.25);
    color:rgb(43,40,40);
    font-size:x-small;
}