body {
    margin-right:auto;
    margin-left:auto;
}

/*NAVBAR*/
.navbar-header {
    position:absolute;
    top:0;
    left:0;
}
#navbar {
    position:absolute;
    left:50%;
    margin-left:-107px; /*width = 214, adjusted so center of box is in center of navbar*/
}
.navbar-footer {
    position:absolute;
    top:0;
    right:0;
}
/*GRID SECTIONS*/
.grid {

}
.mainSec .container {
    padding:0;
    height:inherit;
}
.largeSec {
    padding:0;
}
.smallSec {
    padding:0;
}
.img-responsive {
    height:inherit;
}
.Sec .container {
    padding:0;
    vertical-align:middle;
}
.Box {
    padding:0;
}